
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.full-height {
    position: relative;
}

.overlay {
    display: block;
    position: absolute !important;
    background: #323335;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
}
.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.parallax {
    background: #323335;
    width: 100%;
}


@media only screen and (max-width: 480px) {
    .white-content h1 span {
        display: block;
    }

    .white-content .btn {
        margin: 10px 0;
    }
}