/*
* 	Owl Carousel Owl Demo theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 18px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #b8b8b8;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 9px;
	height: 9px;
	margin: 5px 5px;
	filter: Alpha(Opacity=30);/*IE7 fix*/
	opacity: 0.3;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #545454;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center;
}

/*custom styles*/

.slide-controls-primary .owl-theme .owl-controls .owl-page span {
	background: #ecae3d;
}
.slide-controls-2 .owl-theme .owl-controls .owl-page span {
    background-color: transparent;
	border:1px solid #fff;
}
.slide-controls-2 .owl-theme .owl-controls .owl-page.active span {
    background-color: #fff;
	border:1px solid #fff;
}

.slide-controls-2.align-left .owl-theme .owl-controls{
	text-align: left;
}
.slide-controls-2.mar-left1 .owl-theme .owl-controls{
	margin-left:100px;
}

.slide-controls-2.on-img .owl-theme .owl-controls .owl-page span {
	margin-top: -100px;
	z-index: 9;
	position: relative;
}

/*slide control 3*/

.slide-controls-3 .owl-theme .owl-controls .owl-page span {
    background-color: #fff;
	border:1px solid #fff;
	opacity:1;
}
.slide-controls-3 .owl-theme .owl-controls .owl-page.active span {
    background-color: #ecae3d;
	border:1px solid #ecae3d;
	opacity:1;
}

.slide-controls-5 .owl-theme .owl-controls{
	margin-top: 35px;
	text-align: center;
}
.slide-controls-5 .owl-theme .owl-controls .owl-page span {
    background-color: transparent;
	display: block;
	width: 26px;
	height: 5px;
	margin: 0px 7px;
	opacity: 0.5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
}
.slide-controls-5 .owl-theme .owl-controls .owl-page.active span {
    background-color: #fff;
	opacity: 1;
}


.slide-controls-6 .owl-theme .owl-controls{
	margin-top: 35px;
	text-align: center;
}
.slide-controls-6 .owl-theme .owl-controls .owl-page span {
    background-color: transparent;
	display: block;
	width: 26px;
	height: 4px;
	margin: 0px 7px;
	opacity: 0.3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #272727;
}
.slide-controls-6 .owl-theme .owl-controls .owl-page.active span {
    background-color: #272727;
	opacity: 1;
}

