.thumbs {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.thumbs li {
	width: 28.7%;
	list-style: none;
	float: left;
	margin: 0 12px 12px 0;
	padding: 0;
}
.thumbs.style1 li {
	width: 46%;
}
.thumbs.style1 img {
	width: 100%;
}
.thumbs.border-dark li {
	border:2px solid #101010;
}
.thumbs.border-dark img {
	width: 100%;
}
.thumbs li a {
}
.thumbs li img {
	display: block;
}
.thumbs li a img {
	border: none;
}
#cycle {
	margin: 0;
	padding: 0;
	width: 100%;
	padding: 0;
}
#cycle li {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 3px;
	width: 100%;
	overflow: hidden;
}
#cycle li img {
	width: 100%;
}
#cycle li div {
	position: absolute;
	bottom: 3px;
	left: 3px;
	padding: 3px;
	width: 494px;
	background: black;
	color: white;
	font-size: 12px;
	opacity: .8;
}
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between Logis.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
}
#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}
#cboxContent {
	position: relative;
}
#cboxLoadedContent {
	overflow: auto;
}
#cboxLoadedContent iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
}
#cboxTitle {
	margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}
/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay {
	background: #000;
}
#colorbox {
}
#cboxContent {
	margin-top: 20px;
}
#cboxLoadedContent {
	background: #000;
	padding: 5px;
}
#cboxTitle {
	position: absolute;
	top: -20px;
	left: 0;
	color: #ccc;
}
#cboxCurrent {
	position: absolute;
	top: -20px;
	right: 0px;
	color: #ccc;
}
#cboxSlideshow {
	position: absolute;
	top: -20px;
	right: 90px;
	color: #fff;
}
#cboxPrevious {
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -32px;
	background: url(images/controls.png) top left no-repeat;
	width: 28px;
	height: 65px;
	text-indent: -9999px;
}
#cboxPrevious.hover {
	background-position: bottom left;
}
#cboxNext {
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -32px;
	background: url(images/controls.png) top right no-repeat;
	width: 28px;
	height: 65px;
	text-indent: -9999px;
}
#cboxNext.hover {
	background-position: bottom right;
}
#cboxLoadingOverlay {
	background: #000;
}
#cboxLoadingGraphic {
	background: url(images/loading.gif) center center no-repeat;
}
#cboxClose {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	background: url(images/controls.png) top center no-repeat;
	width: 38px;
	height: 19px;
	text-indent: -9999px;
}
#cboxClose.hover {
	background-position: bottom center;
}

/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 991px) {

.thumbs li {
    width: 8.7%;
}


}
/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {

.thumbs li {
    width: 10%;
}


}
@media only screen and (max-width: 480px) {
.thumbs li {
    width: 20%;
}


}
@media only screen and (max-width: 360px) {
 .thumbs li {
    width: 28%;
}


}



